.query-bar {
	margin: 20px;
	text-align: center;
	color: black;
}

.query-bar input {
	width: 75%;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #e6eeff;
	border-radius: 4px;
}

.nav-bar-item {
	cursor: pointer;
}

.nav-bar-item:hover {
	background-color: #e6eeff;
}

body {
	background-color: grey;
	color: white;
}